<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<img src="assets/Daniel.jpg">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvido por</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="person"></ion-icon>
    <ion-label>Daniel Radcliffe </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="mail"></ion-icon>
  <ion-label>harryzinhodaspocoes@hogwarts.com</ion-label>
</ion-item>
<ion-item>
  <ion-icon name="globe"></ion-icon>
<ion-label>www.harryzinhopottinho.com.hg</ion-label>
</ion-item>
<ion-item>
  <ion-icon name="logo-instagram"></ion-icon>
<ion-label>@harry_pottinho</ion-label>
</ion-item>
<ion-item>
  <ion-icon name="logo-google-playstore"></ion-icon>
<ion-label> V 0.0.1</ion-label>
</ion-item>
  </ion-card>
</ion-content>
